@import "tailwindcss";

@theme inline {
  /* Design System Colors */
  --color-surface-container: #eaeff1;
  --color-error-dim: #4e0309;
  --color-on-error: #fff7f6;
  --color-secondary: #4d626c;
  --color-on-secondary-fixed: #2d424c;
  --color-surface-tint: #0c56d0;
  --color-on-tertiary-fixed: #3f3a54;
  --color-tertiary-fixed: #e3dbfd;
  --color-secondary-dim: #415660;
  --color-on-surface: #2b3437;
  --color-on-primary-fixed-variant: #0253cd;
  --color-secondary-fixed-dim: #c1d8e4;
  --color-on-error-container: #752121;
  --color-error-container: #fe8983;
  --color-surface-bright: #f8f9fa;
  --color-primary-fixed-dim: #c6d3ff;
  --color-on-secondary: #f2faff;
  --color-on-secondary-container: #40555f;
  --color-surface-container-high: #e3e9ec;
  --color-outline-variant: #abb3b7;
  --color-secondary-fixed: #cfe6f2;
  --color-surface-container-highest: #dbe4e7;
  --color-primary-fixed: #dae2ff;
  --color-inverse-on-surface: #9b9d9e;
  --color-surface: #f8f9fa;
  --color-surface-variant: #dbe4e7;
  --color-surface-dim: #d1dce0;
  --color-tertiary: #615b77;
  --color-tertiary-fixed-dim: #d5cdee;
  --color-on-tertiary: #fcf7ff;
  --color-on-primary-fixed: #003993;
  --color-on-primary: #f8f7ff;
  --color-inverse-surface: #0c0f10;
  --color-primary: #0c56d0;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-fixed-variant: #495f69;
  --color-primary-dim: #004aba;
  --color-inverse-primary: #5c8bff;
  --color-tertiary-container: #e3dbfd;
  --color-on-tertiary-container: #524c68;
  --color-tertiary-dim: #554f6b;
  --color-error: #9f403d;
  --color-primary-container: #dae2ff;
  --color-secondary-container: #cfe6f2;
  --color-outline: #737c7f;
  --color-on-tertiary-fixed-variant: #5c5672;
  --color-on-surface-variant: #586064;
  --color-surface-container-low: #f1f4f6;
  --color-on-primary-container: #004ab9;
  --color-background: #f8f9fa;
  --color-on-background: #2b3437;

  /* Font Families */
  --font-sans: "Inter", sans-serif;
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

/* Custom utilities */
.primary-gradient {
  background: linear-gradient(135deg, #0c56d0 0%, #004aba 100%);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.ghost-border {
  border: 1px solid rgba(115, 124, 127, 0.15);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: inline-block;
  vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
